<div class="container">
  <form #productEditForm="ngForm" class="medium-top-margin" role="form" id="warrantyEditForm">

    <div class="form-group medium-top-margin" *ngIf="!isNew">
      <label class="input-label">Warranty number</label>
      <input type="text" name="warranty_number" class="form-control" [(ngModel)]="warranty.warrantyNumber" placeholder="Warranty number">
    </div>

    <div class="form-group medium-top-margin">
      <label class="input-label">Owner</label>
      <input type="text" name="owner" class="form-control" [(ngModel)]="warranty.owner" placeholder="Warranty owner">
    </div>

    <div class="box" *ngFor="let item of warranty.items; let i = index">
      <div (click)="removeProduct(i)" class="col-sm-1 right">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div class="form-group medium-top-margin">
        <label class="input-label">Product</label>
        <input type="text" [name]="'product_name_' + i" class="form-control" [(ngModel)]="item.name" placeholder="Product name">
      </div>
      <div class="form-group medium-top-margin">
        <label class="input-label">Duration</label>
        <input type="text" [name]="'product_duration_' + i" class="form-control" [(ngModel)]="item.time" placeholder="Duration in months">
      </div>
      <label class="input-label">Serials</label>
      <div class="box">
        <div *ngFor="let serial of item.serials; let ind = index; trackBy: trackByFn" class="small-bottom-margin row">
          <div class="col-sm-11">
            <input type="text" [name]="'serial_' + i + '_' + ind" class="form-control" [(ngModel)]="item.serials[ind]"
              placeholder="Serial number">
          </div>
          <div (click)="removeSerial(i, ind)" class="col-sm-1">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </div>
        </div>
        <div (click)="addSerial(i)" class="text-center">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-primary" (click)="addProduct()">
      Add more products
    </button>

    <button type="button" class="btn btn-primary" (click)="saveWarranty()" [disabled]="disableSubmit">
      Save warranty
    </button>

    <button type="button" class="btn btn-danger" (click)="deleteWarranty()">
      Delete warranty
    </button>
  </form>
</div>