<div class="container">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Warranty ID</th>
        <th>Items</th>
        <th>Serial numbers</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <th>
          <input name="title" type="text" class="form-control" [(ngModel)]="searchData.id" placeholder="Search by id"
            (change)="filterWarranties($event)">
        </th>
        <th>
          <input name="category" type="text" class="form-control" [(ngModel)]="searchData.type" placeholder="Search by item"
            (change)="filterWarranties($event)">
        </th>
        <th>
          <input name="newPrice" type="text" class="form-control" [(ngModel)]="searchData.serial" placeholder="Search by serial number"
            (change)="filterWarranties($event)">
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="7">
          <a [routerLink]="['/warranties', 'new']">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr *ngFor="let warranty of warranties">
        <td>{{warranty.warrantyNumber}}</td>
        <td>
          <span *ngFor="let item of warranty.items">
            {{item.name}}
          </span>
        </td>
        <td>
          <span *ngFor="let item of warranty.items">
            <span *ngFor="let serial of item.serials">
              {{serial}}
            </span>
          </span>
        </td>
        <td (click)="viewWarranty(warranty)">
          <i class="fa fa-print" aria-hidden="true"></i>
        </td>
        <td (click)="editWarranty(warranty)">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </td>
        <td (click)="deleteWarranty(warranty)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>